<h2>{{title}}</h2>
<button class="btn btn-default btn-lg" ng-click="addDataPoint()">Add</button>
<!--<section>-->
  <!--<div class="btn-group" data-ng-repeat="button in buttons">-->
    <!--<button type="button" class="btn btn-default btn-success" data-ng-click="button.func(button)">{{button.label}}</button>-->
  <!--</div>-->
<!--</section>-->
<nvd3 options="lineChartOptions" data="lineChartData"></nvd3>
<nvd3 options="options1" data="data1"></nvd3>
<nvd3 options="options2" data="data2"></nvd3>
<nvd3 options="options3" data="data3"></nvd3>




