<style>
  .drag_line {
    stroke: #999;
    stroke-width: 5;
    pointer-events: none;
  }
  .drag_line {
    stroke: #999;
    stroke-width: 5;
    pointer-events: none;
  }

  .drag_line_hidden {
    stroke: #999;
    stroke-width: 0;
    pointer-events: none;
  }

  .link {
    stroke: #999;
    stroke-width: 5;
    cursor: crosshair;
  }

  .link_selected {
    stroke: #ff7f0e;
  }
  /*current active player highlight or whatever!*/
  .active {
    background-color: red;
  }

</style>

<h2>{{title}}</h2>
  <div ng-show="showStart"></div>
    Player 1: <input type="text" ng-model="player1.player" name="player1" required="true" ng-required=""> Color:  <input colorpicker="hex" type="text" ng-model="player1.color" />
    Player 2: <input type="text" ng-model="player2.player" name="player2" required="true" ng-required=""> Color:  <input colorpicker="hex" type="text" ng-model="player2.color" />
    <button data-ng-click="startGame()">Start</button>
    <button data-ng-click="clearGame()">Reset</button>

  <div id="score" data-ng-repeat="player in players" data-ng-class="player.classes">
    {{player.player}} : {{player.score}}
  </div>

  <section style="width: 500px;height: 500px;">
    <div id="dotDotContainer" style="background-color: steelblue">
    </div>
  </section>
