<h2>{{title}}</h2>
<section>
    <div class="btn-group" data-ng-repeat="button in buttons">
        <button type="button" class="btn btn-default btn-success" data-ng-click="button.func(button)">{{button.label}}</button>
    </div>


</section>
<div id="container" style="height: 400px;width: 100%;">
    <div data-d3-stacked-bar
         data-chart-data="data"
         data-on-click="cOptions.onClick"
         data-chart-id="cOptions.chartId"
         data-color-high="cOptions.colorHigh"
         data-color-low="cOptions.colorLow"
         data-stroke-color="'#161616'"
         data-mouse-over="cOptions.mouseOver"
         data-mouse-out="cOptions.mouseOut"
         data-label-type="cOptions.labelType"
         data-show-x-axis="false"
         data-show-y-axis="true"
         data-width="cOptions.width"
         data-height="cOptions.height"
         data-margin-top="10"
         data-margin-left="80"
         data-margin-right="1"
         data-margin-bottom="15"
         data-tt="true"
         data-tt-pos="cOptions.tooltipLeft"
         data-chart-type="cOptions.overlap"
         id="d3StackedBar"
         style="position: relative; ">
    </div>
</div>

<a href="http://www.xmlcharts.com/precious-metals.html">Precious Metals XML Price Feed</a>