<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<style>
  body {
    font-family: Monospace;
    background-color: #ffffff;
    margin: 0px;
    overflow: hidden;
  }
</style>


<div id="space-container" class="space-container">
    <div id="scene"> </div>

</div>
<div id="control-bar" class="control-bar">
    <button class="btn btn-default btn-lg" data-ng-click="reposition(1)">start flyby</button>
    <button class="btn btn-default btn-lg" data-ng-click="reset(1)">reset</button>
    <button class="btn btn-default btn-lg" data-ng-click="rotate(2)">rotate left</button>
    <button class="btn btn-default btn-lg" data-ng-click="rotate(1)">rotate right</button>

</div>
