.socket-container{
    display: flex;
    padding: 12px;
    width: 100%;
    height: 300px;
    border-radius: 3px;
    background-color: black;
}

.socket-messages{
    flex: 0 0 100%;
    background-color: ghostwhite;
}

.socket-command{
    flex:1;
    background-color: darkgray;
    /*background-color: black;*/
    border-radius: 3px;
}