.socket-container{
    display: flex;
    padding: 12px;
    width: 100%;
    height: 300px;
}

.socket-messages{
    flex: 0 0 100%;
    background-color: ghostwhite;
}

.socket-command{
    flex:1;
    background-color: darkgray;
}