<style>
  .drag_line {
    stroke: #999;
    stroke-width: 5;
    pointer-events: none;
  }

  .drag_line {
    stroke: #999;
    stroke-width: 5;
    pointer-events: none;
  }

  .drag_line_hidden {
    stroke: #999;
    stroke-width: 0;
    pointer-events: none;
  }

  .link {
    stroke: #999;
    stroke-width: 5;
    cursor: crosshair;
  }

  .link_selected {
    stroke: #ff7f0e;
  }

  /*current active player highlight or whatever!*/
  .active {
    background-color: lightsteelblue;
    width: 600px;
  }

  .playerContainer {
    width: 100%;
    height: 100px;
    background-color: lightslategray;
    box-shadow: 10px 10px 5px #888888;
  }

  .player1 {
    float: left;
    width: 300px;
    /*height: 200px;*/
    /*box-shadow: 10px 10px 5px #888888;*/
  }

  .player2 {
    margin-left: 320px;
    width: 300px;
    /*height: 200px;*/
    /*box-shadow: 10px 10px 5px #888888;*/
  }

  .playerForm {
    /*float: left;*/
  }
  #gameControls{
    float: left;
  }

</style>

<h2>{{title}}</h2>
<div>


  <div id="score" data-ng-repeat="player in players" data-ng-class="player.classes" ng-style="player.style">
    {{player.player}} : {{player.score}}
  </div>

  <div class="playerContainer">
    <div class="player1">
      <div>
        <input class="form-control" type="text" ng-model="player1.player" placeholder="Player 1" name="player1" required="true" ng-required="">
      </div>
      <div>Color:
        <div colorpicker ng-model="player1.color">
          <div id="player1Swatch" ng-style="style1">
          </div>
        </div>
      </div>
    </div>

    <div style="background-color: white; width: 10px;"></div>
    <div class="player2">
      <div>
        <input class="form-control" type="text" ng-model="player2.player" placeholder="Player 2" name="player2" required="true" ng-required="">
      </div>
      <div>Color:
        <div colorpicker ng-model="player2.color" ng-style="style2">
          <div id="player2Swatch">
          </div>
        </div>
      </div>
    </div>



    <div id="gameControls">
      <button class="btn btn-primary" data-ng-click="submitUserSettings()">Submit</button>
      <button class="btn btn-primary" data-ng-click="startGame()">Start</button>
      <button class="btn btn-primary" data-ng-click="clearGame()">Reset</button>
    </div>
  </div>


</div>



  <section id="dotDotSection" style="width: 100%;height: 100%;">
    <div id="dotDotContainer" style="background-color: #4682b4">
    </div>
  </section>



